In [3]:
import requests

BASE_URL = "https://jsonplaceholder.typicode.com/posts"

# -----------------------------
# CREATE (POST)
# -----------------------------
def create_post(title, body, user_id):
    payload = {
        "title": title,
        "body": body,
        "userId": user_id
    }
    response = requests.post(BASE_URL, json=payload)
    return response.json()

# -----------------------------
# READ (GET)
# -----------------------------
def get_post(post_id):
    response = requests.get(f"{BASE_URL}/{post_id}")
    return response.json()

# -----------------------------
# UPDATE (PUT)
# -----------------------------
def update_post(post_id, title, body, user_id):
    payload = {
        "id": post_id,
        "title": title,
        "body": body,
        "userId": user_id
    }
    response = requests.put(f"{BASE_URL}/{post_id}", json=payload)
    return response.json()

# -----------------------------
# DELETE (DELETE)
# -----------------------------
def delete_post(post_id):
    response = requests.delete(f"{BASE_URL}/{post_id}")
    return response.status_code  # 200 means success


# -----------------------------
# TEST THE FUNCTIONS
# -----------------------------

# CREATE
new_post = create_post("Hello World", "This is a test post", 1)
print("Created:", new_post)

# READ
post = get_post(1)
print("Read:", post)

# UPDATE
updated = update_post(1, "Updated Title", "Updated body text", 1)
print("Updated:", updated)

# DELETE
deleted_status = delete_post(1)
print("Deleted status code:", deleted_status)

Created: {'title': 'Hello World', 'body': 'This is a test post', 'userId': 1, 'id': 101}
Read: {'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}
Updated: {'id': 1, 'title': 'Updated Title', 'body': 'Updated body text', 'userId': 1}
Deleted status code: 200

In [9]:
import requests
import pandas as pd

def get_pokemon_data(limit=50):
    url = f"https://pokeapi.co/api/v2/pokemon?limit={limit}"
    response = requests.get(url).json()

    pokemon_list = []

    for p in response["results"]:
        details = requests.get(p["url"]).json()
        pokemon_list.append({
            "name": details["name"],
            "height": details["height"],
            "weight": details["weight"],
            "base_experience": details["base_experience"],
            "types": [t["type"]["name"] for t in details["types"]],
        })

    return pd.DataFrame(pokemon_list)

pokemon_df = get_pokemon_data()
pokemon_df.head()

         name  height  weight  base_experience            types
0   bulbasaur       7      69               64  [grass, poison]
1     ivysaur      10     130              142  [grass, poison]
2    venusaur      20    1000              236  [grass, poison]
3  charmander       6      85               62           [fire]
4  charmeleon      11     190              142           [fire]

In [11]:
def get_rickmorty_characters():
    url = "https://rickandmortyapi.com/api/character"
    characters = []

    while url:
        response = requests.get(url).json()
        for c in response["results"]:
            characters.append({
                "name": c["name"],
                "status": c["status"],
                "species": c["species"],
                "gender": c["gender"],
                "origin": c["origin"]["name"],
                "location": c["location"]["name"]
            })
        url = response["info"]["next"]  # pagination

    return pd.DataFrame(characters)

rickmorty_df = get_rickmorty_characters()
rickmorty_df.head()

,name,status,species,gender,origin,location
0,Rick Sanchez,Alive,Human,Male,Earth (C-137),Citadel of Ricks
1,Morty Smith,Alive,Human,Male,unknown,Citadel of Ricks
2,Summer Smith,Alive,Human,Female,Earth (Replacement Dimension),Earth (Replacement Dimension)
3,Beth Smith,Alive,Human,Female,Earth (Replacement Dimension),Earth (Replacement Dimension)
4,Jerry Smith,Alive,Human,Male,Earth (Replacement Dimension),Earth (Replacement Dimension)