In [1]:
import pandas as pd

merged_data_rick_and_morty = pd.read_excel("13.Rick and Morty API Data.xlsx", sheet_name="MergedData")

In [2]:
merged_data_rick_and_morty

,character_id,character_name,status,species,type,gender,episode_count,origin_id,origin_type,origin_dimension,location_id,location_type,location_dimension
0,1,Rick Sanchez,Alive,Human,NaN,Male,51,1.0,Planet,Dimension C-137,3.0,Space station,unknown
1,2,Morty Smith,Alive,Human,NaN,Male,51,NaN,NaN,NaN,3.0,Space station,unknown
2,3,Summer Smith,Alive,Human,NaN,Female,42,20.0,Planet,Replacement Dimension,20.0,Planet,Replacement Dimension
3,4,Beth Smith,Alive,Human,NaN,Female,42,20.0,Planet,Replacement Dimension,20.0,Planet,Replacement Dimension
4,5,Jerry Smith,Alive,Human,NaN,Male,39,20.0,Planet,Replacement Dimension,20.0,Planet,Replacement Dimension
...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,822,Young Jerry,unknown,Human,NaN,Male,1,30.0,Planet,unknown,30.0,Planet,unknown
822,823,Young Beth,unknown,Human,NaN,Female,1,30.0,Planet,unknown,30.0,Planet,unknown
823,824,Young Beth,unknown,Human,NaN,Female,1,30.0,Planet,unknown,30.0,Planet,unknown
824,825,Young Jerry,unknown,Human,NaN,Male,1,30.0,Planet,unknown,30.0,Planet,unknown
825,826,Butter Robot,Alive,Robot,Passing Butter Robot,Genderless,1,20.0,Planet,Replacement Dimension,20.0,Planet,Replacement Dimension

In [3]:
#Looking at each of the workbooks in my spreadsheet
xls = pd.ExcelFile("13.Rick and Morty API Data.xlsx")
print(xls.sheet_names)

['Characters', 'Episodes', 'Locations', 'MergedData']

In [4]:
import os

#Checking what Excel Files exist in the Direcorty this Code file is saved in
files = [f for f in os.listdir() if f.endswith((".xlsx", ".xls"))]
print(files)

['13.Rick and Morty API Data.xlsx']

In [5]:
import os

#Looking at all file names and their extensions in the directory this code file in saved in
files = os.listdir()
for f in files:
    print(f)

1.Create Python API.ipynb
10.Learning About APIs.ipynb
11.Learning About APIs PART 2.ipynb
12.API Play in Python.ipynb
13.Rick and Morty API Data.xlsx
13.Rick and Morty Data from API.ipynb
14.Counting Episodes per Character.ipynb
15.Playing with Duplicates Rick and Morty Data - Copy.ipynb
15.Playing with Duplicates Rick and Morty Data.ipynb
2.Get Pokemon API Data.ipynb
3.Get Pokemon API Data PART 2.ipynb
4.Pokemon Quiz Generator with Data from API.ipynb
5.Create Python API Rick and Morty.ipynb
6.Create Python API Request.ipynb
7.Post Requests in Python.ipynb
8.Post Requests API in Python.ipynb
9.Get and Post API Requests in Python.ipynb

In [7]:
# Count all missing values in the entire DataFrame
# df.isnull() creates a True/False mask for each cell
# .sum() on that mask counts True values per column
# another .sum() adds all column counts together
total_nulls = merged_data_rick_and_morty.isnull().sum().sum()
print(total_nulls)

1384

In [8]:
# Count missing values for each column individually
# This helps you see which columns need cleaning
nulls_per_column = merged_data_rick_and_morty.isnull().sum()
print(nulls_per_column)

character_id            0
character_name          0
status                  0
species                 0
type                  401
gender                  0
episode_count           0
origin_id             300
origin_type           302
origin_dimension      303
location_id            21
location_type          23
location_dimension     34
dtype: int64

In [9]:
# Loop through each column and print the missing value percentage
for col in merged_data_rick_and_morty.columns:
    # Calculate percentage of missing values for this column
    missing_pct = merged_data_rick_and_morty[col].isnull().mean() * 100
    
    # Print in the format you requested
    print(f"{col}: Missing values percentage = {missing_pct:.2f}%")

character_id: Missing values percentage = 0.00%
character_name: Missing values percentage = 0.00%
status: Missing values percentage = 0.00%
species: Missing values percentage = 0.00%
type: Missing values percentage = 48.55%
gender: Missing values percentage = 0.00%
episode_count: Missing values percentage = 0.00%
origin_id: Missing values percentage = 36.32%
origin_type: Missing values percentage = 36.56%
origin_dimension: Missing values percentage = 36.68%
location_id: Missing values percentage = 2.54%
location_type: Missing values percentage = 2.78%
location_dimension: Missing values percentage = 4.12%

In [10]:
# Count missing values for each row
# axis=1 means "operate across columns"
nulls_per_row = merged_data_rick_and_morty.isnull().sum(axis=1)
print(nulls_per_row)

0      1
1      4
2      1
3      1
4      1
      ..
821    1
822    1
823    1
824    1
825    0
Length: 826, dtype: int64

In [11]:
# Build a clean summary DataFrame showing:
# - how many nulls each column has
# - what percentage of the column is missing
null_summary = pd.DataFrame({
    "null_count": merged_data_rick_and_morty.isnull().sum(),
    "null_percent": merged_data_rick_and_morty.isnull().mean() * 100
})

print(null_summary)

                    null_count  null_percent
character_id                 0      0.000000
character_name               0      0.000000
status                       0      0.000000
species                      0      0.000000
type                       401     48.547215
gender                       0      0.000000
episode_count                0      0.000000
origin_id                  300     36.319613
origin_type                302     36.561743
origin_dimension           303     36.682809
location_id                 21      2.542373
location_type               23      2.784504
location_dimension          34      4.116223

In [12]:
# Count total number of null values in the entire DataFrame
total_nulls = merged_data_rick_and_morty.isnull().sum().sum()

# Count nulls per column
nulls_per_column = merged_data_rick_and_morty.isnull().sum()

# Calculate what percentage of ALL nulls come from each column
# (column_nulls / total_nulls) * 100
null_percentage_of_total = (nulls_per_column / total_nulls) * 100

# Print results in a readable format
for col, pct in null_percentage_of_total.items():
    print(f"{col}: contributes {pct:.2f}% of all missing values in the dataset")

character_id: contributes 0.00% of all missing values in the dataset
character_name: contributes 0.00% of all missing values in the dataset
status: contributes 0.00% of all missing values in the dataset
species: contributes 0.00% of all missing values in the dataset
type: contributes 28.97% of all missing values in the dataset
gender: contributes 0.00% of all missing values in the dataset
episode_count: contributes 0.00% of all missing values in the dataset
origin_id: contributes 21.68% of all missing values in the dataset
origin_type: contributes 21.82% of all missing values in the dataset
origin_dimension: contributes 21.89% of all missing values in the dataset
location_id: contributes 1.52% of all missing values in the dataset
location_type: contributes 1.66% of all missing values in the dataset
location_dimension: contributes 2.46% of all missing values in the dataset

In [13]:
#For datasets that might contain no null values
total_nulls = merged_data_rick_and_morty.isnull().sum().sum()

if total_nulls == 0:
    print("No missing values in the dataset.")
else:
    nulls_per_column = merged_data_rick_and_morty.isnull().sum()
    null_percentage_of_total = (nulls_per_column / total_nulls) * 100

    for col, pct in null_percentage_of_total.items():
        print(f"{col}: contributes {pct:.2f}% of all missing values in the dataset")

character_id: contributes 0.00% of all missing values in the dataset
character_name: contributes 0.00% of all missing values in the dataset
status: contributes 0.00% of all missing values in the dataset
species: contributes 0.00% of all missing values in the dataset
type: contributes 28.97% of all missing values in the dataset
gender: contributes 0.00% of all missing values in the dataset
episode_count: contributes 0.00% of all missing values in the dataset
origin_id: contributes 21.68% of all missing values in the dataset
origin_type: contributes 21.82% of all missing values in the dataset
origin_dimension: contributes 21.89% of all missing values in the dataset
location_id: contributes 1.52% of all missing values in the dataset
location_type: contributes 1.66% of all missing values in the dataset
location_dimension: contributes 2.46% of all missing values in the dataset

In [14]:

# ---------------------------------------------------------
# 1. Extract the character names column
#    (Assuming the column is called "name" in your dataset)
# ---------------------------------------------------------
character_names = merged_data_rick_and_morty["character_name"].tolist()

# ---------------------------------------------------------
# 2. Display all character names
# ---------------------------------------------------------
print("List of all character names:")
for name in character_names:
    print(name)

# ---------------------------------------------------------
# 3. Count how many characters there are
# ---------------------------------------------------------
total_characters = len(character_names)
print(f"\nTotal number of characters: {total_characters}")

List of all character names:
Rick Sanchez
Morty Smith
Summer Smith
Beth Smith
Jerry Smith
Abadango Cluster Princess
Abradolf Lincler
Adjudicator Rick
Agency Director
Alan Rails
Albert Einstein
Alexander
Alien Googah
Alien Morty
Alien Rick
Amish Cyborg
Annie
Antenna Morty
Antenna Rick
Ants in my Eyes Johnson
Aqua Morty
Aqua Rick
Arcade Alien
Armagheadon
Armothy
Arthricia
Artist Morty
Attila Starwar
Baby Legs
Baby Poopybutthole
Baby Wizard
Bearded Lady
Beebo
Benjamin
Bepisian
Beta-Seven
Beth Sanchez
Beth Smith
Beth Smith
Beth's Mytholog
Big Boobed Waitress
Big Head Morty
Big Morty
Body Guard Morty
Bill
Bill
Birdperson
Black Rick
Blamph
Blim Blam
Blue Diplomat
Blue Footprint Guy
Blue Shirt Morty
Bobby Moynihan
Boobloosian
Bootleg Portal Chemist Rick
Borpocian
Brad
Brad Anderson
Calypso
Campaign Manager Morty
Canklanker Thom
Centaur
Chris
Chris
Coach Feratu (Balik Alistane)
Collector
Colossus
Commander Rick
Concerto
Conroy
Cool Rick
Cop Morty
Cop Rick
Courier Flap
Cousin Nicky
Cowboy Morty
Cowboy Rick
Crab Spider
Creepy Little Girl
Crocubot
Cronenberg Rick
Cronenberg Morty
Cult Leader Morty
Cyclops Morty
Cyclops Rick
Cynthia
Cynthia
Dale
Daron Jefferson
David Letterman
Davin
Diablo Verde
Diane Sanchez
Dipper and Mabel Mortys
Tuberculosis
Gonorrhea
Hepatitis A
Hepatitis C
Bubonic Plague
E. Coli
Donna Gueterman
Doofus Rick
Doom-Nomitron
Dr. Glip-Glop
Dr. Schmidt
Dr. Wong
Dr. Xenon Bloom
Duck With Muscles
Eli
Eli's Girlfriend
Eric McMan
Eric Stoltz Mask Morty
Ethan
Ethan
Evil Beth Clone
Evil Jerry Clone
Evil Morty
Evil Rick
Evil Summer Clone
Eyehole Man
Fart
Fat Morty
Father Bob
Flansian
Fleeb
Frank Palicky
Frankenstein's Monster
Fulgora
Galactic Federation President
Gar Gloonch
Gar's Mytholog
Garblovian
Garmanarnar
Garment District Rick
Gazorpazorpfield
Gene
General Nathan
General Store Owner
Genital Washer
Ghost in a Jar
Gibble Snake
Glasses Morty
Glenn
Glenn
Glexo Slim Slom
Gobo
Goddess Beth
Gordon Lunas
Cornvelious Daniel
Gwendolyn
Hammerhead Morty
Hamster In Butt
Hamurai
Harold
Hemorrhage
Hole in the Wall Where the Men Can See it All
Hookah Alien
Hunter
Hunter's Father
Hydrogen-F
Ice-T
Ideal Jerry
Insurance Rick
Investigator Rick
Invisi-trooper
Izzy
Jackie
Jacob
Jacqueline
Jaguar
Jamey
Jan-Michael Vincent
Jerry 5-126
Jerry Smith
Celebrity Jerry
Jerry Smith
Jerry's Mytholog
Jessica
Jessica
Jessica's Friend
Jim
Johnny Depp
Jon
Joseph Eli Lipkip
Joyce Smith
Juggling Rick
Karen Entity
Katarina
Keara
Kevin
King Flippy Nips
King Jellybean
Kozbian
Kristen Stewart
Krombopulos Michael
Kyle
Lady Katana
Larva Alien
Lawyer Morty
Leonard Smith
Lighthouse Keeper
Lil B
Lisa
Little Dipper
Lizard Morty
Loggins
Logic
Long Sleeved Morty
Lucy
Ma-Sha
Magma-Q
Magnesium-J
Man Painted Silver Who Makes Robot Noises
Maximums Rickimus
MC Haps
Mechanical Morty
Mechanical Rick
Mechanical Summer
Mega Fruit Farmer Rick
Melissa
Michael Denny and the Denny Singers
Michael Jenkins
Michael McLick
Michael Thompson
Million Ants
Mitch
Mohawk Guy
Morty Mart Manager Morty
Morty Jr.
Morty Rick
Morty Smith
Morty K-22
Morty Smith
Mortytown Loco
Mr. Beauregard
Mr. Benson
Mr. Booby Buyer
Mr. Goldenfold
Mr. Goldenfold
Mr. Marklovitz
Mr. Meeseeks
Mr. Needful
Mr. Poopybutthole
Mrs. Lipkip
Mrs. Pancakes
Amy Poopybutthole
Mrs. Refrigerator
Mrs. Sanchez
Mrs. Sullivan
Nancy
Noob-Noob
Numbericon
Octopus Man
Orthodox Jew
Pat Gueterman
Paul Fleishman
Pawnshop Clerk
Pencilvester
Phillip Jacobs
Photography Cyborg
Photography Raptor
Pibbles Bodyguard
Pichael Thompson
Pickle Rick
Piece of Toast
Plumber Rick
Poncho
Presidentress of The Mega Gargantuans
Prince Nebulon
Principal Vagina
Principal Vagina
Purge Planet Ruler
Quantum Rick
Randy Dicknose
Rat Boss
Real Fake Doors Salesman
Regional Manager Rick
Regular Legs
Reverse Giraffe
Reverse Rick Outrage
Revolio Clockberg Jr.
Rick D. Sanchez III
Rick Guilt Rick
Rick Prime
Rick D-99
Rick D716
Rick D716-B
Rick D716-C
Rick Sanchez
Rick J-22
Rick K-22
Rick Sanchez
Ricktiminus Sancheziminius
Riq IV
Risotto Groupon
Risotto's Tentacled Henchman
Robot Morty
Robot Rick
Roger
Ron Benson
Ruben
Samantha
Scary Brandon
Scary Glenn
Scary Terry
Scroopy Noopers
Scropon
Scrotian
Self-Congratulatory Jerry
Shimshamian
Shlaammi
Shleemypants
Shmlamantha Shmlicelli
Shmlangela Shmlobinson-Shmlower
Shmlona Shmlobinson
Shmlonathan Shmlower
Shmlony Shmlicelli
Shmooglite Runner
Shnoopy Bloopers
Shrimply Pibbles
Simple Rick
Slaveowner
Sleepy Gary
Slick Morty
Slippery Stair
Slow Mobius
Slow Rick
Snuffles (Snowball)
Solicitor Rick
Squanchy
Stacy
Stair Goblin
Stealy
Steve
Steven Phillips
Stu
Summer Smith
Summer Smith
Supernova
Taddy Mason
Taint Washer
Tammy Guetermann
Tammy Guetermann
Teacher Rick
Terry
President Curtis
The President of the Miniverse
The Scientist Formerly Known as Rick
Thomas Lipkip
Three Unknown Things
Tinkles
Tiny Rick
Toby Matthews
Todd Crystal
Tom Randolph
Tommy's Clone
Tophat Jones
Tortured Morty
Toxic Morty
Toxic Rick
Traflorkian
Trandor
Tree Person
Tricia Lange
Trunk Morty
Trunk Man
Truth Tortoise
Tusked Assassin
Two Guys with Handlebar Mustaches
Tumblorkian
Unity
Unmuscular Michael
Vampire Master
Vance Maximus
Veronica Ann Bennet
Voltematron
Wall Crawling Rick
Wedding Bartender
Unknown Rick
Woman Rick
Worldender
Yaarb
Yellow Headed Doctor
Yellow Shirt Rick
Zarbadar Gloonch
Zarbadar's Mytholog
Zeep Xanflorp
Zeta Alpha Rick
Zick Zack
Uncle Steve
Bearded Morty
Roy
Davin
Greebybobe
Scary Teacher
Fido
Accountant dog
Tiny-persons advocacy group lawyer
Giant Judge
Morty Jr's interviewer
Guy from The Bachelor
Corn detective
Michael Jackson
Trunkphobic suspenders guy
Spiderweb teddy bear
Regular Tyrion Lannister
Quick Mystery Presenter
Mr. Sneezy
Two Brothers
Alien Mexican Armada
Giant Cat Monster
Old Women
Trunkphobic guy
Pro trunk people marriage guy
Muscular Mannie
Baby Legs Chief
Mrs. Sullivan's Boyfriend
Plutonian Hostess
Plutonian Host
Rich Plutonian
Rich Plutonian
Synthetic Laser Eels
Pizza-person
Pizza-person
Greasy Grandma
Phone-person
Phone-person
Chair-person
Chair-person
Chair-homeless
Chair-waiter
Doopidoo
Super Weird Rick
Pripudlian
Giant Testicle Monster
Michael
Michael's Lawyer
Veterinary
Veterinary Nurse
Bearded Jerry
Shaved Head Jerry
Tank Top Jerry
Pink Polo Shirt Jerry
Jerryboree Keeper
Jerryboree Receptionist
Anchor Gear
Gear Cop
Roy's Mum
Roy's Wife
Roy's Son
Simon
Vampire Master's Assistant
Arbolian Mentirososian
St. Gloopy Noops Nurse
Nano Doctor
Funny Songs Presenter
Tax Attorney
Butthole Ice Cream Guy
Traflorkian Journalist
Communication's Responsible Rick
Teleportation's Responsible Rick
SEAL Team Rick
SEAL Team Rick
SEAL Team Rick
SEAL Team Rick
Morphizer-XE Customer Support
Morphizer-XE Customer Support
Morphizer-XE Customer Support
Alien Spa Employee
Little Voltron
Baby Rick
Bartender Morty
Dancer Cowboy Morty
Dancer Morty
Flower Morty
Hairdresser Rick
Journalist Rick
Private Sector Rick
Purple Morty
Retired General Rick
Secret Service Rick
Steve Jobs Rick
Sheik Rick
Modern Rick
Tan Rick
Visor Rick
Colonial Rick
P-Coat Rick
Chang
Dr. Eleanor Arroway
Varrix
Secretary of the Interior
Crystal Poacher
Crystal Poacher
Crystal Poacher
Hologram Rick
Fascist Rick
Fascist Morty
Fascist Mr. President
Fascist Rick’s Clone
Revolio Clockberg Jr.
Fascist Shrimp Rick
Fascist Shrimp Rick’s Clone
Fascist Shrimp Morty
Fascist Shrimp SS
Fascist Teddy Bear Rick
Fascist Teddy Bear Rick’s Clone
Bully
Anchorman
Anchorwoman
Morty’s Lawyer
Judge
Public Opinion Judge
Caterpillar Mr. Goldenfold
Wasp Rick
Wasp Rick’s Clone
Wasp Morty
Wasp Summer
Wasp Jerry
Wasp Beth
Caterpillar Mr. Goldenfold’s Larvae
Boglin
Kirkland Brand Mr. Meeseeks
Glootie
Danny Publitz
Mothership Intern
Monogatron Leader
Lizard
Deliverance
Tony
Tony’s Wife
Monogatron Queen
Tony's Dad
Jeff
Josiah
Maggie
Priest Witherspoon
Richard
Running Bird
Secretary at Tony's
Mountain Sweat Jerry
Vermigurber
Miles Knightly
Heist-Con Receptionist
Angie Flint
Glar
Truckula
Snake Arms
Double Microwawe
Monitor Lord
Key Catcher
The Shapeshiftress
Heistotron
Randotron
Hephaestus
Ventriloquiver
Elon Tusk
Gramuflackian Anchorman
Gramuflackian General
Netflix Executive
Balthromaw
The Wizard
Talking Cat
Debrah
Debrah’s Partner
Michael
Slut Dragon
Shadow Jacker
Chachi
Slippy
Robot Snake
Snake Hitler
Snake Lincoln
Snake Resistance Robot
Snake Linguist
Snake Terminator
Snake Soldier
Snake with Legs
Secret Service Snake
Anchosnake
Anchosnake
80's snake
Bar Customer
Bartender
PC Basketball Player
Cavesnake
Pet Shop Employee
Snake Reporter
High Pilot
High Pilot
Phoenixperson
Tickets Please Guy
Floaty Bloody Man
Floaty Non-Gasm Brotherhood Member
Floaty Non-Gasm Brotherhood Member Friend
Abradolf Lincler
Biblesaurus
Birdperson
Cats Fan
Christmas Storyteller
Cookies Guy
Crossy
Female Scorpion
Floaty Bloody Man’s Daughter
Goomby
Hairspray Fan
Jesus Christ
Josh
Josh's Sister
Leah
Marcus
Mike Johnson
Mr. Celery & Friends
Musical Fan
Phantom of the Opera Fan
Phoenixperson
Private Smith
Professor Sanchez
Ramamama Lord
Ruth Bader Ginsburg
Sarge
Shrek The Musical Fan
Snuffles
Storylord
Tammy Guetermann
The Concept of Time
Beth Smith
Summer Smith
Morty Smith
Rick Sanchez
Train Cop
Train Cops
Train Cops Instructor
Darth Poopybutthole
Evil Morty
Morty’s Disguise
Rick’s Disguise
Uncle Nibbles
Angry Glorzo
Bruce
Council of Glorzos Member
Council of Glorzos Member
Old Glorzo
Shane
Steve
Troy
Crystal Dealers Boss
Crystal Dealer
Crystal Dealer
Crystal Dealer
SWAT Officer
Plane Crash Survivor
Plane Crash Survivor
Heroine Keith
Impervious to Acid SWAT Officer
Johnny Carson
Sonia Sotomayor
Morty’s Father-in-law
Morty’s Mother-in-law
Morty’s Girlfriend
Gaia
Reggie
Ticktock
Florflock
Squeeb
Defiance Beth
Defiance Squanchette
Defiance Doctor
New Improved Galactic Federation Guard
New Improved Galactic Federation Guard
Mr. Nimbus
Hoovy
Bova
Japheth
Japheth's Middle Son
Japheth's Eldest Son
Japheth's Youngest Son
Japheth's Grandson
Adam
Adam's Mother
Warlock
Evolved Narnian
Mr. Nimbus Secretary
Evolved Narnian Disguised as Morty
Mr. Nimbus' Squid
Scarecrow Rick
Scarecrow Summer
Scarecrow Jerry
Scarecrow Morty
Scarecrow Beth
Glockenspiel Jerry
Glockenspiel Beth
Glockenspiel Rick
Glockenspiel Summer
Glockenspiel Morty
Wicker Beth
Wicker Rick
Wicker Morty
Wicker Summer
Metal Rick
Gun Brain Rick
Mr. Always Wants to be Hunted
Squid Costume Beth
Squid Costume Jerry
Squid Costume Morty
Squid Costume Rick
Squid Costume Summer
Dracula
Steve
When Wolf
Too Cute to Murder Beth
Too Cute to Murder Rick
Too Cute to Murder Jerry
Too Cute to Murder Morty
Too Cute to Murder Summer
Planetina
Daphne
Diesel Weasel
Eddie
Xing Ho
Air Tina-Teer
Water Tina-Teer
Planetina Buyer
Tony Galopagus
Sticky
Professor Shabooboo
Sperm Queen
CHUD King
Princess Ponietta
Naruto Smith
Blazen
Kathy Ireland
Amazing Johnathan
Foal Sanchez
Spaceman
Cirque du Soleil Zumanity Member
Cirque du Soleil Zumanity Member
Cirque du Soleil Zumanity Member
Cirque du Soleil Zumanity Member
Cirque du Soleil Zumanity Member
Bruce Chutback
Alyson Hannigan
Cenobite
Cenobite
Cenobite
Cenobite
Cenobite
Coat Rack Head
Mousetrap Nipples
Changeformer
Changeformer
Space Cruiser
Coop
Dwayne
Franklin D. Roosevelt
President's General
Giant Assassin Hidden in the Statue of Liberty
Turkey Morty
Turkey Rick
Turkey President Curtis
Martínez
Marvin
Jackey
Native Alien
Pilgrim Alien
President Turkey
Mary-Lou
Big Fat rick
Hothead Rick
Ricardo Montoya
Wrap-it-up Little Rick
Yo-yo Rick
Voiceoverian
Voiceoverian
Gotron Pilot
Gotron Pilot
Gotron Pilot
Young Memory Rick
Memory Tammy
Rick's Garage
Memory Squanchy
Memory Rick
Memory Rick
Memory Geardude
Birdperson & Tammy's Child
Two Crows
Mr. Cookie President
Nick
Harold (Garbage Goober)
Harold's Wife
Alien Crow
Alien Crow
Samansky
Palicki
Sarge
Slartivartian
Ferkusian
Morglutzian
Super Turkey
7+7 Years Old Morty
26 Years Old Morty
40 Years Old Morty
Andy
Baby Mouse Skin Morty
Metaphor for Capitalism
Beth Sanchez
Crow Scare
Pussifer
Stan Lee Rick
Re-Build-a-Morty Morty
Deformed Morty
Crow Horse
Bald Rick
Punk Rick
Party Rick
Scar Rick
Long Hair Rick
Redhead Rick
Redhead Morty
Gotron
Young Jerry
Young Beth
Young Beth
Young Jerry
Butter Robot

Total number of characters: 826

✅ False
The row is NOT a duplicate — this is the first time pandas has seen this exact combination of values.

✅ True
The row IS a duplicate — pandas has seen an identical row earlier in the DataFrame.

In [15]:
#Turn character_name into something that the pandas dataframe can work with
character_names1 = pd.DataFrame(character_names)
#Store 
duplicates = character_names1.duplicated()

print(duplicates)

0      False
1      False
2      False
3      False
4      False
       ...
821    False
822    False
823     True
824     True
825    False
Length: 826, dtype: bool

In [16]:
# Get count of duplicates in a single column using dataframe.pivot_table()
df2 = merged_data_rick_and_morty.pivot_table(index = ['character_name'], aggfunc ='size')
print("Get count of duplicate values in a single column:\n", df2)

Get count of duplicate values in a single column:
 character_name
26 Years Old Morty           1
40 Years Old Morty           1
7+7 Years Old Morty          1
80's snake                   1
Abadango Cluster Princess    1
                            ..
Zarbadar Gloonch             1
Zarbadar's Mytholog          1
Zeep Xanflorp                1
Zeta Alpha Rick              1
Zick Zack                    1
Length: 757, dtype: int64

In [17]:
character_names2 = pd.DataFrame(character_names)
character_names2 = character_names2.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)

In [18]:
character_names2

                 0
0     Rick Sanchez
1      Morty Smith
2     Summer Smith
3       Beth Smith
4      Jerry Smith
..             ...
819  Redhead Morty
820         Gotron
821    Young Jerry
822     Young Beth
825   Butter Robot

[757 rows x 1 columns]

In [19]:
character_names1

                0
0    Rick Sanchez
1     Morty Smith
2    Summer Smith
3      Beth Smith
4     Jerry Smith
..            ...
821   Young Jerry
822    Young Beth
823    Young Beth
824   Young Jerry
825  Butter Robot

[826 rows x 1 columns]

In [20]:
# Count how many rows are duplicates of a previous row
duplicate_row_count_after_duplicates_removal = character_names2.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_row_count_after_duplicates_removal}")

Number of duplicate rows: 0

In [21]:
# Count how many rows are duplicates of a previous row
duplicate_row_count_before_duplicates_removal = character_names1.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_row_count_before_duplicates_removal}")

Number of duplicate rows: 69

In [22]:
# Count how many duplicate values each column contains
duplicate_counts = merged_data_rick_and_morty.apply(lambda col: col.duplicated().sum())

print("Duplicate counts per column:")
print(duplicate_counts)

Duplicate counts per column:
character_id            0
character_name         69
status                823
species               816
type                  656
gender                822
episode_count         813
origin_id             729
origin_type           796
origin_dimension      793
location_id           731
location_type         787
location_dimension    805
dtype: int64

In [23]:
# Count how many unique values each column contains
unique_counts = merged_data_rick_and_morty.nunique()

print("Unique value counts per column:")
print(unique_counts)

Unique value counts per column:
character_id          826
character_name        757
status                  3
species                10
type                  169
gender                  4
episode_count          13
origin_id              96
origin_type            29
origin_dimension       32
location_id            94
location_type          38
location_dimension     20
dtype: int64

In [24]:
# Count how many entries each column has BEFORE removing duplicates
before_counts = merged_data_rick_and_morty.count()

print("Entries per column BEFORE removing duplicates:")
print(before_counts)

Entries per column BEFORE removing duplicates:
character_id          826
character_name        826
status                826
species               826
type                  425
gender                826
episode_count         826
origin_id             526
origin_type           524
origin_dimension      523
location_id           805
location_type         803
location_dimension    792
dtype: int64

In [25]:
# Remove duplicate rows based on ALL columns
merged_data_rick_and_morty_no_duplicates = merged_data_rick_and_morty.drop_duplicates()

In [27]:
# Count how many entries each column has AFTER removing duplicates
after_counts = merged_data_rick_and_morty_no_duplicates.count()

print("\nEntries per column AFTER removing duplicates:")
print(after_counts)

Entries per column AFTER removing duplicates:
character_id          826
character_name        826
status                826
species               826
type                  425
gender                826
episode_count         826
origin_id             526
origin_type           524
origin_dimension      523
location_id           805
location_type         803
location_dimension    792
dtype: int64

In [28]:
# Count how many null (missing) values each column contains
null_counts = merged_data_rick_and_morty.isnull().sum()

print("Null entries per column:")
print(null_counts)

Null entries per column:
character_id            0
character_name          0
status                  0
species                 0
type                  401
gender                  0
episode_count           0
origin_id             300
origin_type           302
origin_dimension      303
location_id            21
location_type          23
location_dimension     34
dtype: int64

In [29]:
null_percentages = merged_data_rick_and_morty.isnull().mean() * 100
print(null_percentages)

character_id           0.000000
character_name         0.000000
status                 0.000000
species                0.000000
type                  48.547215
gender                 0.000000
episode_count          0.000000
origin_id             36.319613
origin_type           36.561743
origin_dimension      36.682809
location_id            2.542373
location_type          2.784504
location_dimension     4.116223
dtype: float64

In [30]:
import pandas as pd

df = merged_data_rick_and_morty  # your dataset

# ---------------------------------------------------------
# 1. Count duplicates per column
#    .duplicated() marks True for every value that has appeared before
# ---------------------------------------------------------
duplicates_per_column = df.apply(lambda col: col.duplicated().sum())

# ---------------------------------------------------------
# 2. Count total duplicates across the entire dataset
# ---------------------------------------------------------
total_duplicates = duplicates_per_column.sum()

# ---------------------------------------------------------
# 3. Calculate what percentage of ALL duplicates
#    each column contributes
# ---------------------------------------------------------
duplicate_percentage = (duplicates_per_column / total_duplicates) * 100

# ---------------------------------------------------------
# 4. Display results
# ---------------------------------------------------------
print("Percentage of all duplicates contributed by each column:")
print(duplicate_percentage.round(2))

Percentage of all duplicates contributed by each column:
character_id          0.00
character_name        0.80
status                9.53
species               9.44
type                  7.59
gender                9.51
episode_count         9.41
origin_id             8.44
origin_type           9.21
origin_dimension      9.18
location_id           8.46
location_type         9.11
location_dimension    9.32
dtype: float64

In [31]:
import pandas as pd

df = merged_data_rick_and_morty  # your dataset

# ---------------------------------------------------------
# 1. Count duplicates per column
# ---------------------------------------------------------
duplicates_per_column = df.apply(lambda col: col.duplicated().sum())

# ---------------------------------------------------------
# 2. Count total entries per column (non-null)
# ---------------------------------------------------------
total_entries_per_column = df.count()

# ---------------------------------------------------------
# 3. Duplicate percentage per column
#    (duplicates in column / total entries in column) * 100
# ---------------------------------------------------------
duplicate_percentage_per_column = (duplicates_per_column / total_entries_per_column) * 100

# ---------------------------------------------------------
# 4. Total duplicates across the entire dataset
# ---------------------------------------------------------
total_duplicates_dataset = duplicates_per_column.sum()

# ---------------------------------------------------------
# 5. Percentage of all duplicates contributed by each column
# ---------------------------------------------------------
percentage_of_all_duplicates = (duplicates_per_column / total_duplicates_dataset) * 100

# ---------------------------------------------------------
# 6. Build the summary table
# ---------------------------------------------------------
duplicate_summary = pd.DataFrame({
    "duplicates_per_column": duplicates_per_column,
    "duplicate_percentage_per_column": duplicate_percentage_per_column.round(2),
    "percentage_of_all_duplicates": percentage_of_all_duplicates.round(2)
})

print("Duplicate Summary Table:")
print(duplicate_summary)

# ---------------------------------------------------------
# 7. Display total duplicates across dataset
# ---------------------------------------------------------
total_cells = df.size  # total number of cells in the dataset
total_duplicates_percentage = (total_duplicates_dataset / total_cells) * 100

print("\nTOTAL DUPLICATES ACROSS DATASET:")
print(f"Total duplicate values: {total_duplicates_dataset}")
print(f"Percentage of all dataset cells that are duplicates: {total_duplicates_percentage:.2f}%")

Duplicate Summary Table:
                    duplicates_per_column  duplicate_percentage_per_column  \
character_id                            0                             0.00
character_name                         69                             8.35
status                                823                            99.64
species                               816                            98.79
type                                  656                           154.35
gender                                822                            99.52
episode_count                         813                            98.43
origin_id                             729                           138.59
origin_type                           796                           151.91
origin_dimension                      793                           151.63
location_id                           731                            90.81
location_type                         787                            98.01
location_dimension                    805                           101.64

                    percentage_of_all_duplicates
character_id                                0.00
character_name                              0.80
status                                      9.53
species                                     9.44
type                                        7.59
gender                                      9.51
episode_count                               9.41
origin_id                                   8.44
origin_type                                 9.21
origin_dimension                            9.18
location_id                                 8.46
location_type                               9.11
location_dimension                          9.32

TOTAL DUPLICATES ACROSS DATASET:
Total duplicate values: 8640
Percentage of all dataset cells that are duplicates: 80.46%

In [32]:
import pandas as pd

df = merged_data_rick_and_morty  # your dataset

# ---------------------------------------------------------
# 1. Count nulls per column
# ---------------------------------------------------------
nulls_per_column = df.isnull().sum()

# ---------------------------------------------------------
# 2. Count total entries per column (non-null)
# ---------------------------------------------------------
total_entries_per_column = df.count()

# ---------------------------------------------------------
# 3. Null percentage per column
#    (nulls in column / total entries in column) * 100
# ---------------------------------------------------------
null_percentage_per_column = (nulls_per_column / len(df)) * 100

# ---------------------------------------------------------
# 4. Total nulls across the entire dataset
# ---------------------------------------------------------
total_nulls_dataset = nulls_per_column.sum()

# ---------------------------------------------------------
# 5. Percentage of all nulls contributed by each column
# ---------------------------------------------------------
percentage_of_all_nulls = (nulls_per_column / total_nulls_dataset) * 100

# ---------------------------------------------------------
# 6. Build the summary table
# ---------------------------------------------------------
null_summary = pd.DataFrame({
    "nulls_per_column": nulls_per_column,
    "null_percentage_per_column": null_percentage_per_column.round(2),
    "percentage_of_all_nulls": percentage_of_all_nulls.round(2)
})

print("Null Value Summary Table:")
print(null_summary)

# ---------------------------------------------------------
# 7. Display total nulls across dataset
# ---------------------------------------------------------
total_cells = df.size  # total number of cells in the dataset
total_nulls_percentage = (total_nulls_dataset / total_cells) * 100

print("\nTOTAL NULLS ACROSS DATASET:")
print(f"Total null values: {total_nulls_dataset}")
print(f"Percentage of all dataset cells that are null: {total_nulls_percentage:.2f}%")

Null Value Summary Table:
                    nulls_per_column  null_percentage_per_column  \
character_id                       0                        0.00
character_name                     0                        0.00
status                             0                        0.00
species                            0                        0.00
type                             401                       48.55
gender                             0                        0.00
episode_count                      0                        0.00
origin_id                        300                       36.32
origin_type                      302                       36.56
origin_dimension                 303                       36.68
location_id                       21                        2.54
location_type                     23                        2.78
location_dimension                34                        4.12

                    percentage_of_all_nulls
character_id                           0.00
character_name                         0.00
status                                 0.00
species                                0.00
type                                  28.97
gender                                 0.00
episode_count                          0.00
origin_id                             21.68
origin_type                           21.82
origin_dimension                      21.89
location_id                            1.52
location_type                          1.66
location_dimension                     2.46

TOTAL NULLS ACROSS DATASET:
Total null values: 1384
Percentage of all dataset cells that are null: 12.89%

In [35]:
import pandas as pd

df = merged_data_rick_and_morty.copy()

# ---------------------------------------------------------
# 1. Count entries per column BEFORE dropping nulls
#    .count() counts NON-null entries
# ---------------------------------------------------------
before_counts = df.count()

print("Entries per column BEFORE dropping nulls:")
print(before_counts)

# Count total entries across the dataset (non-null cells)
total_before = df.count().sum()
print(f"\nTotal non-null entries across dataset BEFORE dropping nulls: {total_before}")

# ---------------------------------------------------------
# 2. Drop rows that contain ANY null values
# ---------------------------------------------------------
df_no_nulls = df.dropna()

# ---------------------------------------------------------
# 3. Count entries per column AFTER dropping nulls
# ---------------------------------------------------------
after_counts = df_no_nulls.count()

print("\nEntries per column AFTER dropping nulls:")
print(after_counts)

# Count total entries across the dataset (non-null cells)
total_after = df_no_nulls.count().sum()
print(f"\nTotal non-null entries across dataset AFTER dropping nulls: {total_after}")

Entries per column BEFORE dropping nulls:
character_id          826
character_name        826
status                826
species               826
type                  425
gender                826
episode_count         826
origin_id             526
origin_type           524
origin_dimension      523
location_id           805
location_type         803
location_dimension    792
dtype: int64

Total non-null entries across dataset BEFORE dropping nulls: 9354

Entries per column AFTER dropping nulls:
character_id          310
character_name        310
status                310
species               310
type                  310
gender                310
episode_count         310
origin_id             310
origin_type           310
origin_dimension      310
location_id           310
location_type         310
location_dimension    310
dtype: int64

Total non-null entries across dataset AFTER dropping nulls: 4030

I do not what to get rid of duplicates across columns as they are relevant 
Characters will show up multiple times in the dataset and so on
I do not want to drop null values as that will reduce the size of my dataset drastically.

In [36]:
# Count how many duplicate rows exist in the entire DataFrame
duplicate_row_count = merged_data_rick_and_morty.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_row_count}")

Number of duplicate rows: 0